body{
	background-color: rgb(21, 78, 125);
}
.headings{
	display: flex;
	justify-content: center;
}
h1 {
	text-align: center;
	font-family: 'Tilt Prism', cursive;
	font-size: 3em;
	width: 400px;
	

}

.robots {
}
.android{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	background-color: rgb(205, 82, 0);
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	transition-duration: 300ms;
} 

.eyes {
	display: inline-flex;
	transition: 100ms ease;
}
.head:hover > .eyes {
	transform: translate(0,-40px);
}

.head:hover {
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex;
  	flex-direction: row; 
	align-items: flex-start;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	justify-content: baseline;
} 

.left_arm { 
	margin-right: 10px; 
	transform-origin: 20px 20px;
	transition: 100ms ease-in;
} 

.right_arm { 
	margin-left: 10px; 
	transform-origin:20px 20px;
  	transition: transform 100ms ease-in;
} 

.upper_body:hover > .right_arm {
	transform: rotate(-160deg);
}
.upper_body:hover > .left_arm {
	transform: rotateZ(160deg);

}


.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex;
	flex-direction: row;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
	
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

right_leg:hover ~.lower_body{
    transform: scale(2);
}    


.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





